.bannerImagePreview::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), var(--banner-image-url), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)) no-repeat center center;
    background-size: cover;
    filter: blur(40px);
    transform: scale(1.5);
    z-index: 0;
}
