.container {
    //@apply max-w-screen-lg lg:max-w-screen-xl mx-auto px-4;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    &.simple {
        max-width: 960px;
    }
}

.nav {
    //border-bottom: 1px solid var(--pte-colors-borderOpaque);
}

.navContainer {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 10;
}

.footerContainer {
    background-color: var(--pte-colors-backgroundSecondary);
}

.headerSeparator {
    background: var(--pte-colors-borderOpaque);
}

.footerSeparator {
    background: linear-gradient(90deg, #1DEECD 0%, #26EDED 12.5%, #FFA8F1 71.35%, #FFD7A8 100%);
}
