.shallowPopup {
    box-shadow: var(--pte-new-lighting-shallowPopup);
}

.bgSecondary {
    background-color: var(--pte-new-colors-backgroundSecondary);
}

.bgAccent {
    background-color: var(--pte-new-colors-contentAccent);
}

.divider {
    border-color: var(--pte-new-colors-borderMedium);
    border-width: 0.5px;
}

.story {
    a {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    p {
        line-height: 1.5em;
        margin-bottom: 1em;
    }
}

.pageCard {
    padding: 0 !important;

    & img {
        border-top-left-radius: var(--pte-new-borders-radius-rounded);
        border-top-right-radius: var(--pte-new-borders-radius-rounded);
    }

    & h3 {
        line-height: 1.3em;
    }
}
