.DonationAmountSelector {
    background: var(--pte-colors-backgroundSecondary, #F6F6F6);

    &[data-selected="true"] {
        background: var(--pte-colors-black, #060606);
        color: var(--pte-colors-contentInversePrimary, #FFF);
        box-shadow: var(--pte-lighting-subtlePopup);
    }

    &:hover[data-selected="false"] {
        background: var(--pte-colors-backgroundTertiary, #EDEDED);
    }
}